/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 10px 0;
}

code {
  font-size: 80%;
}

article {
  margin-bottom: 2em;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,10,10,0.4);
}

article h1 {
  font-size: 12pt;
}

article h2 {
  font-size: 11pt;
}
